* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

main {
    display: flex;
    height: 100%;
}

a {
    color: white;
}



/* LEFT */
.left {
    width: 50%;
    padding: 20px 0px 0px 15px;
}

.left_img {
    width: 60%;
    margin: 50px 0px 0px 65px;
}


/* RIGHT */
.right {
    width: 50%;
    padding: 25px 0px 0px 0px;
    background-color: #075744;
    color: white;
}

.right_title {
    font-size: 2em;
    font-weight: 700;
}

.right_subtitle {
    font-size: 0.8em;
}

.right_form {
    margin-top: 20px;
    width: 70%;
    margin-left: 15%;
}

.right_form input {
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    
}

.right_form_span_text {
    font-size: 0.8em;
    text-align: end;
}

.label {
    text-align: start;
}

.input {
    width: 100%;
    padding: 5px 0px 5px 7px;
    margin: 5px 0px 7px 0px;
    background-color: white;
}

.btn {
    text-align: center;
    width: 100%;
    color: white;
    background-color: #079404;
    font-size: 1.5em;
    font-weight: 900;
    padding: 7px 10px 7px 10px;
    margin: 25px 0px 10px 0px;
}